.number{
    width: 100%;
    height: 150px;
    border: 10px solid red;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /*box-sizing: border-box; */
}

#dragbar{
    position: absolute;
    cursor: col-resize;
    z-index: 3;
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#pause{
    padding-bottom: 0%;
}